In [1]:
import pandas as pd
import numpy as np
import time

In [16]:
def handle_multi_level_columns(df):
    # Create a list to hold the new column names
    new_columns = []

    # Iterate over the current column names
    for col in df.columns:
        # If level 0 is unnamed or 'Unnamed: 0_level_0', leave level 1 as is
        if str(col[0]).lower().startswith('unnamed'):
            new_columns.append(col[1].replace(' ', '_').upper())
        else:  # Otherwise, write the column name as {level0}_{level1}
            new_columns.append(f'{col[0]}_{col[1]}'.replace(' ', '_').upper())

    # Assign the new column names to the DataFrame
    df.columns = new_columns

    return df

player_stats=pd.read_html('https://www.hockey-reference.com/leagues/NHL_2023_skaters.html')
new_df=pd.DataFrame(player_stats[0])
handle_multi_level_columns(new_df)

28

In [23]:
def ensure_columns(df, cols):
    for col in cols:
        if col not in df.columns:
            df[col] = np.nan
    return df[cols]

def handle_multi_level_columns(df):
    # Create a list to hold the new column names
    new_columns = []

    # Iterate over the current column names
    for col in df.columns:
        # If level 0 is unnamed or 'Unnamed: 0_level_0', leave level 1 as is
        if str(col[0]).lower().startswith('unnamed'):
            new_columns.append(col[1].replace(' ', '_').upper())
        else:  # Otherwise, write the column name as {level0}_{level1}
            new_columns.append(f'{col[0]}_{col[1]}'.replace(' ', '_').upper())

    # Assign the new column names to the DataFrame
    df.columns = new_columns

    return df

start_year = 2023
print(start_year)

url_skaters=f'https://www.hockey-reference.com/leagues/NHL_{start_year}_skaters.html'
url_goalies=f'https://www.hockey-reference.com/leagues/NHL_{start_year}_goalies.html'
df_skaters = pd.read_html(url_skaters)
df_goalies = pd.read_html(url_goalies)
df_skaters_cleaned = pd.DataFrame(df_skaters[0])
df_goalies_cleaned = pd.DataFrame(df_goalies[0])
df_skaters_cleaned = handle_multi_level_columns(df_skaters_cleaned)
df_goalies_cleaned = handle_multi_level_columns(df_goalies_cleaned)
df_skaters_cleaned = df_skaters_cleaned.drop_duplicates(['RK'], keep='first')
df_goalies_cleaned = df_goalies_cleaned.drop_duplicates(['RK'], keep='first')
df_skaters_cleaned['SEASON'] = start_year
df_goalies_cleaned['SEASON'] = start_year
df_skaters_cleaned.to_csv("skaters_1996_2023.csv", index=False)
df_goalies_cleaned.to_csv("goalies_1996_2023.csv", index=False)

skaters_columns = df_skaters_cleaned.columns.to_list()
goalies_columns = df_goalies_cleaned.columns.to_list()

start_year -= 1
years = list(range(1996, start_year + 1))
years.reverse()
years.remove(2005) # lockout season, no data
time.sleep(10)

for year in years:
    print(year)
    url_skaters=f'https://www.hockey-reference.com/leagues/NHL_{start_year}_skaters.html'
    url_goalies=f'https://www.hockey-reference.com/leagues/NHL_{start_year}_goalies.html'
    df_skaters = pd.read_html(url_skaters)
    df_goalies = pd.read_html(url_goalies)
    df_skaters_cleaned = pd.DataFrame(df_skaters[0])
    df_goalies_cleaned = pd.DataFrame(df_goalies[0])
    df_skaters_cleaned = handle_multi_level_columns(df_skaters_cleaned)
    df_goalies_cleaned = handle_multi_level_columns(df_goalies_cleaned)
    df_skaters_cleaned = df_skaters_cleaned.drop_duplicates(['RK'], keep='first')
    df_goalies_cleaned = df_goalies_cleaned.drop_duplicates(['RK'], keep='first')
    df_skaters_cleaned['SEASON'] = year
    df_goalies_cleaned['SEASON'] = year

    df_skaters_cleaned = ensure_columns(df_skaters_cleaned, skaters_columns)
    df_goalies_cleaned = ensure_columns(df_goalies_cleaned, goalies_columns)

    df_skaters_cleaned.to_csv("skaters_1996_2023.csv", index=False, header=False, mode='a')
    df_goalies_cleaned.to_csv("goalies_1996_2023.csv", index=False, header=False, mode='a')
    time.sleep(10)

2023
2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2004
2003
2002
2001
2000
1999
1998
1997
1996

In [6]:
all_df_skaters = pd.read_csv("skaters_1996_2023.csv")
all_df_goalies = pd.read_csv("goalies_1996_2023.csv")

all_df_goalies
all_df_skaters

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,SEASON
0,1,Nicholas Abruzzese,23,TOR,C,2,0,2,2,1,...,2,0.0,18,8:59,0,1,0,0,NaN,2023.0
1,2,Noel Acciari,31,TOT,C,77,14,9,23,-4,...,102,13.7,1102,14:19,81,244,337,289,53.8,2023.0
2,3,Calen Addison,22,MIN,D,62,3,26,29,-17,...,77,3.9,999,16:07,38,19,0,0,NaN,2023.0
3,4,Egor Afanasyev,22,NSH,LW,17,1,0,1,-7,...,21,4.8,184,10:51,13,23,0,0,NaN,2023.0
4,5,Andrew Agozzino,32,SJS,LW,4,1,2,3,-1,...,9,11.1,65,16:22,4,12,1,0,100.0,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23613,773,Alexei Zhamnov,25,WIN,C,58,22,37,59,-4,...,199,11.1,NaN,NaN,1996,NaN,NaN,NaN,NaN,NaN
23614,774,Alexei Zhitnik,23,BUF,D,80,6,30,36,-25,...,193,3.1,NaN,NaN,1996,NaN,NaN,NaN,NaN,NaN
23615,775,Doug Zmolek,25,TOT,D,58,2,5,7,-5,...,36,5.6,NaN,NaN,1996,NaN,NaN,NaN,NaN,NaN
23616,776,Rick Zombo,32,BOS,D,67,4,10,14,-7,...,68,5.9,NaN,NaN,1996,NaN,NaN,NaN,NaN,NaN
23617,777,Sergei Zubov*,25,PIT,D,64,11,55,66,28,...,141,7.8,NaN,NaN,1996,NaN,NaN,NaN,NaN,NaN

In [9]:
all_df_goalies.to_csv("goalies_1996_2023.csv")
all_df_goalies

,Rk,Player,Age,Tm,GP,GS,W,L,T/O,GA,...,QS,QS%,RBS,GA%-,GSAA,G,A,PTS,PIM,SEASON
0,1,Jett Alexander,23,TOR,1,0,0,0,0,0,...,0,NaN,0,NaN,NaN,0,0,0,0,2023
1,2,Jake Allen,32,MTL,42,41,15,24,3,145,...,20,.488,10,113,-17.17,0,1,1,2,2023
2,3,Frederik Andersen,33,CAR,34,33,21,11,1,82,...,17,.515,6,101,-0.71,0,1,1,0,2023
3,4,Craig Anderson,41,BUF,26,24,11,11,2,76,...,12,.500,5,96,2.80,0,1,1,2,2023
4,5,Justus Annunen,22,COL,2,2,1,1,0,7,...,1,.500,1,NaN,NaN,0,0,0,0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,74,Jimmy Waite,26,CHI,1,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1996
95,75,Darcy Wakaluk,29,DAL,37,NaN,9,16,5,106,...,NaN,NaN,NaN,107,-6.96,0,0,0,6,1996
96,76,Derek Wilkinson,21,TBL,4,NaN,0,3,0,15,...,NaN,NaN,NaN,NaN,NaN,0,0,0,2,1996
97,77,Jordan Willis,20,DAL,1,NaN,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1996
98,78,Ken Wregget,31,PIT,37,NaN,20,13,2,115,...,NaN,NaN,NaN,94,7.40,0,2,2,8,1996

In [12]:
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.model_selection import train_test_split

skaters_df=pd.read_csv('skaters_2009_2023.csv', index_col=None)
goalies_df=pd.read_csv('goalies_2009_2023.csv', index_col=None)

skater_pred_vars=['Age', 'Pos', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM', 'EV', 'PP', 'SH', 'EV', 'PP', 'SH', 'S', 'S%', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FO%']
goalie_pred_vars=['Age', 'GP', 'GS', 'W', 'L', 'T/O', 'GA', 'SA', 'SV', 'SV%', 'GAA', 'SO', 'MIN' , 'QS', 'QS%', 'RBS', 'GA%-', 'GSAA']

skater_target_var=['PS']
goalie_target_var=['GPS']

# X_train, X_test, y_train, y_test = train_test_split( 
#              skaters_df[training_cols], y, test_size = 0.2, random_state=42)

In [146]:
# testing_url_skaters=f'https://www.hockey-reference.com/leagues/NHL_2008_skaters.html'
# testing_url_skaters_2=f'https://www.hockey-reference.com/leagues/NHL_2007_skaters.html'
# df_skaters_1 = pd.read_html(testing_url_skaters)
# df_skaters_2 = pd.read_html(testing_url_skaters_2)
# df_skaters_1_cleaned=pd.DataFrame(df_skaters_1[0])
# df_skaters_2_cleaned=pd.DataFrame(df_skaters_2[0])
# if isinstance(df_skaters_1_cleaned.columns, pd.MultiIndex):
#     df_skaters_1_cleaned.columns = df_skaters_1_cleaned.columns.get_level_values(1)
# if isinstance(df_skaters_2_cleaned.columns, pd.MultiIndex):
#     df_skaters_2_cleaned.columns = df_skaters_2_cleaned.columns.get_level_values(1)
# df_skaters_1_cleaned=df_skaters_1_cleaned.drop_duplicates(['Rk'], keep='first')
# df_skaters_2_cleaned=df_skaters_2_cleaned.drop_duplicates(['Rk'], keep='first')

# df_skaters_1_cleaned
df_skaters_1_cleaned_copied=df_skaters_1_cleaned.copy()
df_skaters_2_cleaned_copied=df_skaters_2_cleaned.copy()

df_skaters_1_cleaned_copied['SEASON']=2008
df_skaters_2_cleaned_copied['SEASON']=2007

df_skaters_2_cleaned_copied
# df_skaters_1_cleaned_copied.set_index(drop=True, inplace=True)
# df_skaters_2_cleaned_copied.set_index(drop=True, inplace=True)

# set(df_skaters_1_cleaned_copied.columns)-set(df_skaters_2_cleaned_copied.columns)

# df_skaters_2_cleaned_copied[['BLK','FO%','FOL','FOW','HIT']]=np.nan

# df_skaters_1_cleaned_copied

# df_skaters_1_cleaned_copied
# df_skaters_1_cleaned_copied=df_skaters_1_cleaned_copied.reset_index()
# selected_columns = df_skaters_1_cleaned_copied.columns[1:]  # Select all columns from the second column onward
# df_skaters_1_cleaned_copied=df_skaters_1_cleaned_copied[selected_columns].reset_index(drop=True, inplace=True)
# selected_columns = df_skaters_2_cleaned_copied.columns[1:]  # Select all columns from the second column onward
# df_skaters_2_cleaned_copied=df_skaters_2_cleaned_copied[selected_columns].reset_index(drop=True, inplace=True)


# duplicates = df_skaters_2_cleaned_copied.index.duplicated()
# duplicate_rows = df_skaters_2_cleaned_copied[duplicates]
# print(duplicate_rows)
# df_skaters_1_cleaned_copied=df_skaters_1_cleaned_copied.set_index('Rk').reset_index(drop=True)
# df_skaters_2_cleaned_copied=df_skaters_2_cleaned_copied.set_index('Rk').reset_index(drop=True)
# df_skaters_1_cleaned_copied=df_skaters_1_cleaned_copied.reset_index(drop=True)
# df_skaters_2_cleaned_copied=df_skaters_2_cleaned_copied.reset_index(drop=True)
# df_skaters_2_cleaned_copied
# df_skaters_1_cleaned_copied.index
# df_skaters_1_cleaned_copied.
# pd.concat([df_skaters_1_cleaned_copied, df_skaters_2_cleaned_copied], axis=0, ignore_index=True)

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,SH,GW,EV,PP,SH,S,S%,TOI,ATOI,SEASON
0,1,Ramzi Abid,26,NSH,LW,13,1,4,5,-3,...,0,0,4,0,0,12,8.3,141,10:51,2007
1,2,Craig Adams,29,CAR,RW,82,7,7,14,-9,...,1,1,6,0,1,71,9.9,826,10:04,2007
2,3,Kevyn Adams,32,TOT,C,68,3,9,12,-20,...,1,0,7,1,1,87,3.4,742,10:55,2007
5,4,Dmitry Afanasenkov,26,TOT,LW,74,11,10,21,-25,...,0,0,10,0,0,96,11.5,779,10:31,2007
8,5,Maxim Afinogenov,27,BUF,RW,56,23,38,61,19,...,0,3,25,13,0,151,15.2,955,17:03,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,854,Marek Židlický,29,NSH,D,79,4,26,30,8,...,0,1,18,8,0,114,3.5,1558,19:43,2007
1065,855,Mike Zigomanis,26,PHX,C,75,14,9,23,-8,...,1,0,8,1,0,142,9.9,1116,14:53,2007
1066,856,Sergei Zubov*,36,DAL,D,78,12,42,54,0,...,0,3,11,31,0,156,7.7,2024,25:57,2007
1067,857,Dainius Zubrus,28,TOT,RW,79,24,36,60,-19,...,0,4,23,13,0,158,15.2,1540,19:29,2007
1070,858,Andrei Zyuzin,29,CGY,D,49,1,5,6,-2,...,0,0,5,0,0,36,2.8,677,13:49,2007

In [12]:
player='Rasmus Dahlin'

skaters_df.loc[skaters_df['Player']==player]

pos=skaters_df.loc[(skaters_df['Pos']=="D") & (skaters_df['Age']=='18') & (skaters_df['Player']!=player)]
pos

,Unnamed: 0,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,SEASON
2177,253,220,Jamie Drysdale,18,ANA,D,24,3,5,8,...,28,10.7,470,19:35,23,7,0,0,NaN,2021
2936,73,65,Tobias Björnfot,18,LAK,D,3,0,0,0,...,0,NaN,39,12:58,0,0,0,0,NaN,2020
3221,428,350,Ville Heinola,18,WPG,D,8,1,4,5,...,10,10.0,145,18:04,5,3,0,0,NaN,2020
5677,146,124,Jakob Chychrun,18,ARI,D,68,7,13,20,...,86,8.1,1133,16:40,99,109,0,0,NaN,2017
6278,863,725,Mikhail Sergachev,18,MTL,D,4,0,0,0,...,2,0.0,49,12:08,3,10,0,0,NaN,2017
6884,521,442,Oliver Kylington,18,CGY,D,1,0,0,0,...,1,0.0,17,17:22,1,0,0,0,NaN,2016
7556,272,215,Aaron Ekblad,18,FLA,D,81,12,27,39,...,170,7.1,1767,21:49,80,109,0,0,NaN,2015
9101,1038,877,Nikita Zadorov,18,BUF,D,7,1,0,1,...,4,25.0,120,17:10,3,25,0,0,NaN,2014
12673,66,55,Zach Bogosian,18,ATL,D,47,9,10,19,...,90,10.0,851,18:06,50,67,0,0,NaN,2009

In [24]:
def marcels_projection_system_player(player_name, season, df):
    df['SEASON']=df['SEASON'].astype(int)
    ps_list=df.loc[(df['Player']==player_name) & (df['SEASON']>=season-2)]
    ps_list
    return ps_list
    
marcels_projection_system_player('Rasmus Dahlin', 2023, skaters_df)

,Unnamed: 0,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,SEASON
179,222,179,Rasmus Dahlin,22,BUF,D,78,15,58,73,...,204,7.4,2012,25:48,132,105,0,0,NaN,2023
1141,242,189,Rasmus Dahlin,21,BUF,D,80,13,40,53,...,170,7.6,1921,24:01,91,121,0,0,NaN,2022
2142,217,185,Rasmus Dahlin,20,BUF,D,56,5,18,23,...,115,4.3,1210,21:36,45,80,0,0,NaN,2021